@layer base {
  :root {
    --background: var(--color-background);
    --foreground: var(--color-foreground);
    --muted: var(--color-muted);
    --muted-foreground: var(--color-muted-foreground);

    --input-bg: var(--color-input-bg);
    --input-border: var(--color-input-border);
    --input-border-hover: var(--color-input-border-hover);
    --input-border-focus: var(--color-input-border-focus);

    --primary: var(--color-primary);
    --primary-hover: var(--color-primary-hover);
    --destructive: var(--color-destructive);
    --destructive-hover: var(--color-destructive-hover);
  }

  .dark {
    --background: var(--color-background-dark);
    --foreground: var(--color-foreground-dark);
    --muted: var(--color-muted-dark);
    --muted-foreground: var(--color-muted-foreground-dark);

    --input-bg: var(--color-input-bg-dark);
    --input-border: var(--color-input-border-dark);
    --input-border-hover: var(--color-input-border-hover-dark);
    --input-border-focus: var(--color-input-border-focus-dark);

    --primary: var(--color-primary-dark);
    --primary-hover: var(--color-primary-hover-dark);
    --destructive: var(--color-destructive-dark);
    --destructive-hover: var(--color-destructive-hover-dark);
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply bg-background text-foreground;
  }

  * {
    @apply border-border outline-ring/50;
  }

  html {
    @apply font-sans;
  }
}
