NEXT_PUBLIC_SENTRY_DSN=
GEMINI_API_KEY=
SCRAPE_DO_TOKEN=
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
NEXT_PUBLIC_IMAGEKIT_URL_ENDPOINT=
NEXT_PUBLIC_PLACEHOLDER_IMAGE_URL=
DATABASE_URL=
NEXT_PUBLIC_BETTER_AUTH_URL=
BETTER_AUTH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
PHANTOMJS_API_KEY=
GROQ_API_KEY=
TELEGRAM_BOT_TOKEN=